body {
  font-family: Arial;
  line-height: 22px;
  padding-bottom: 200px;
  margin-left: 12px;
}

a {
  color: rgb(0, 123, 255);
  text-decoration: none;
}

main {
  max-width: 680px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 12px;
  margin-top: 0;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3px;
  padding-top: 35px;
}

.endpoint-links {
  margin-top: 15px;
}

.instructions code,
.endpoint-links code,
.endpoint-params code {
  font-family: monospace;
  font-size: 17px;
}

.endpoint-section {
  margin-top: 20px;
}

.endpoint {
  padding-top: 30px;
  margin-bottom: 30px;
}

.endpoint-name {
  font-family: monospace;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 35px;
}

.endpoint-description,
.endpoint-request {
  margin-bottom: 35px;
  margin-left: 40px;
}

.endpoint-params {
  margin-bottom: 35px;
  margin-left: 40px;
}

.endpoint-response,
.back-to-top-link {
  margin-left: 40px;
}

.example-code pre {
  font-size: 16px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 4px;
  padding: 15px;
  margin-top: 7px;
  overflow: hidden;
  overflow-x: auto;
}